@use 'global' as *;
/* === footer start === */
.footer {
  padding: rem(16) rem(7.5);
  background-color: #f090a9;
  text-align: center;
  @include mq('md') {
    padding: rem(24) rem(30);
  }
}

.footer__text {
  color: #fff;
  font-size: rem(12);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
}
/* === footer end === */
