/* リキッドレイアウト対応 */
@use 'global' as *;
.header__container {
  border-bottom: rem(1) solid $black;
  padding: rem(16) rem(40);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq('lg') {
    padding: rem(16) rem(32);
  }
  @include mq('md') {
    display: none;
  }
}

.header__menu {
  display: flex;
  gap: rem(40);
  align-items: center;
  padding: 0 rem(32);
}

.header__menu-item {
  cursor: pointer;
  position: relative;
}

.header__menu-item:hover {
  color: $primary-90;
}

.header__menu-item::after {
  content: '';
  position: absolute;
  left: rem(-25);
  top: 50%;
  transform: translateY(-50%);
  background-color: $primary-50;
  border: rem(1) solid $black;
  width: rem(8);
  height: rem(8);
  border-radius: rem(180);
}

.header__menu-home {
  cursor: pointer;
  color: $primary-50;
}

.header__sp-nav {
  transition: right 0.4s ease; // visibilityを遅延
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
}

.is-active .header__sp-nav--home {
  right: 0;
}

.header__sp-nav--region.is-open {
  right: 0;
}

.header__sp-nav--prefecture.is-open {
  right: 0;
}
.header__sp-nav--home {
  z-index: 100;
}

.header__sp-nav--region {
  z-index: 200;
}

.header__sp-nav--prefecture {
  z-index: 300;
}
