@use 'global' as *;

.header__container {
  padding-top: rem(16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq('md') {
    justify-content: end;
  }
}

.header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(8);
}

.header__text {
  color: #f090a9;
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(20.27);
  letter-spacing: 0.04em;
  text-align: left;
}

.header__text span {
  margin-left: rem(8);
}

.header__right {
  max-width: 260px;
  width: 100%;
  @include mq('md') {
    max-width: 180px;
  }
}

.header__button {
  width: 100%;
  color: white;
  background: #a4ecec;
  background-image: linear-gradient(183.86deg, #73dede 3.09%, #2da6a6 96.78%);
  border: rem(1) solid $black;
  padding: rem(16) rem(36.5);
  border-radius: rem(180);
  font-size: rem(18);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: left;
  box-shadow: rem(0) rem(3) rem(0) rem(0) $black;
  @include mq('md') {
    padding: rem(12) rem(22.5);
    font-size: rem(13);
  }
}
