@use 'global' as *;
/* === 表示/非表示切り替えのクラス start === */
.md-none {
  display: block;
  @include mq('md') {
    display: none;
  }
}

.md-show {
  display: none;
  @include mq('md') {
    display: block;
  }
}
/* === 表示/非表示切り替えのクラス end === */
