@use 'global' as *;

.sub-title {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.sub-title__star-left {
  position: absolute;
  left: rem(-60);
  top: rem(17);
  @include mq('md') {
    left: rem(-28);
    top: rem(6);
  }
}

.sub-title__star-left img {
  @include mq('md') {
    width: rem(19.87);
    height: rem(25.26);
  }
}

.sub-title__text {
  display: flex;
  align-items: center;
  font-size: rem(32);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @include mq('md') {
    font-size: rem(16);
    flex-direction: column;
  }
}

.sub-title--small .sub-title__text {
  font-size: rem(24);
  @include mq('md') {
    font-size: rem(16);
  }
}

.sub-title__star-right {
  position: absolute;
  right: rem(-82);
  top: rem(-15);
  @include mq('md') {
    right: rem(-35);
    top: rem(-13);
  }
}

.sub-title__star-right img {
  @include mq('md') {
    width: rem(28.97);
    height: rem(31.77);
  }
}

.sub-title__ranking {
  margin-left: rem(16);
  color: $primary-90;
  font-family: Quicksand;
  font-size: rem(40);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  @include mq('md') {
    font-size: rem(22);
    margin-left: 0;
  }
}

.shop-history .sub-title__text {
  font-size: rem(32);
  @include mq('md') {
    font-size: rem(16);
  }
}

// blog-listページ

.blog-list .sub-title__text {
  align-items: baseline;
  @include mq('md') {
    flex-direction: row;
  }
}

.sub-title__big {
  font-family: Quicksand;
  font-size: rem(56);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  @include mq('md') {
    font-size: rem(32);
  }
}
