<!DOCTYPE html>
<html lang="ja">
  <%- include('../ejs-parts/base/_head.ejs') %>
  <body>
    <!-- ヘッダー -->
    <main>
      <div class="concolle">
        <div class="concolle__wrapper">
          <section class="concolle__mv">
            <div class="concolle__mv-inner">
              <div class="concolle__header"><%- include('../ejs-parts/base/_header.ejs') %></div>
              <div class="concolle__mv-title"><%- include('../ejs-parts/common/_mv-title.ejs') %></div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include('../ejs-parts/base/_footer.ejs') %>
  </body>
</html>
