<%
<!-- prettier-ignore -->
const items = [
  { question: "最短でいつから掲載できますか？", answer: `最短でお申し込み当日から掲載が可能です。<br />
※ご掲載内容などに応じ、審査にお時間をいただく場合もございますので、あらかじめご了承ください。`}, // 1
<!-- prettier-ignore -->

{ question: "お問い合わせや相談に費用はかかりますか？", answer: `無料です。<br />
ご契約の有無に関わらず少しでも不明点がございましたら、お気軽にお問い合わせください。`}, // 1
<!-- prettier-ignore -->

{ question: "本当に無料で掲載できますか？", answer: `はい、無料です。<br />
掲載料金0円ですべての機能をご利用いただけます。`}, // 1
<!-- prettier-ignore -->

{ question: "管理画面でできることを教えてください。", answer: `掲載内容の修正や追加、ブログの更新が可能です。<br />
操作方法にお困りの際は徹底的にサポートさせていただきますので、パソコンやインターネットが苦手な方でも安心してご利用いただけます。`},
// 1
<!-- prettier-ignore -->

];
%>

<div class="faq">
  <div class="faq__wrapper">
    <h2 class="faq__title">コンカフェを応援している方は、ぜひご登録ください！</h2>
    <ul class="faq__list">
      <% items.forEach((item, i) => { %>
      <li class="faq__item">
        <div class="faq__question">
          <span class="faq__question-icon">Q</span>
          <p class="faq__question-text"><%- item.question %></p>
        </div>
        <div class="faq__answer">
          <span class="faq__answer-icon">A</span>
          <p class="faq__answer-text"><%- item.answer %></p>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
