<section class="concolle-form" id="concolle-form">
  <div class="concolle-form__inner">
    <div class="concolle-form__title section-title section-title--form">
      <h2 class="section-title__text">掲載お申し込み・お問い合わせ</h2>
      <p class="section-title__subtitle">Contact</p>
      <span class="section-title__bg">CONTACT</span>
    </div>

    <div class="concolle-form__wrapper">
      <form id="apply-form" class="concolle-form__form">
        <div class="concolle-form__group">
          <label for="company" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            企業名（事業者名）
          </label>
          <input
            type="text"
            id="company"
            name="company"
            placeholder="例）株式会社あるバイ"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="kana" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            企業名（事業者名）フリガナ
          </label>
          <input
            type="text"
            id="kana"
            name="kana"
            placeholder="例）カブシキガイシャアルバイ"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__note">※全角カナでご入力ください。</p>
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="email" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            メールアドレス
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="例）info@arubai.com"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="phone" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span>
            電話番号
          </label>
          <input type="tel" id="phone" name="phone" placeholder="例）0123456789" class="concolle-form__input" />
          <p class="concolle-form__note">※半角数字でご入力ください。ハイフン(-)は不要です。</p>
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="url" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span> URL
          </label>
          <input type="url" id="url" name="url" placeholder="例）https://arubai.com" class="concolle-form__input" />
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="message" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span>
            ご相談内容
          </label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="ご質問やご相談内容を入力してください"
            class="concolle-form__input"
          ></textarea>
          <p class="concolle-form__note">※お問い合わせ種別にて「お問い合わせ」を選択された方は必ずご入力ください。</p>
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__submit">
          <button type="submit" class="concolle-form__button">
            <p class="concolle-form__button-text">この内容で送信する</p>
            <span><img src="./images/arrow-right.svg" alt="" /></span>
          </button>
        </div>
      </form>

      <form id="inquiry-form" class="concolle-form__form" style="display: none">
        <div class="concolle-form__group">
          <label for="company" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            店名・社名
          </label>
          <input
            type="text"
            id="company"
            name="company"
            placeholder="例）株式会社あるバイ"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="person" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span>
            担当者名
          </label>
          <input type="text" id="person" name="person" placeholder="例）山田　花子" class="concolle-form__input" />
          <p class="concolle-form__note">※姓と名の間に全角スペースを入れてください。</p>
        </div>

        <div class="concolle-form__group">
          <label for="kana" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span>
            担当者名（フリガナ）
          </label>
          <input type="text" id="kana" name="kana" placeholder="例）ヤマダ　ハナコ" class="concolle-form__input" />
          <p class="concolle-form__note">※姓と名の間に全角スペースを入れ、全角カナでご入力ください。</p>
        </div>

        <div class="concolle-form__group">
          <label for="email" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            メールアドレス
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="例）info@arubai.com"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>

        <div class="concolle-form__group">
          <label for="phone" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            電話番号
          </label>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="例）0123456789"
            class="concolle-form__input"
            required
          />
          <p class="concolle-form__note">※半角数字でご入力ください。ハイフン(-)は不要です。</p>
        </div>

        <div class="concolle-form__group">
          <label for="address" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span> ご住所
          </label>
          <input
            type="text"
            id="address"
            name="address"
            placeholder="例）東京都渋谷区〇〇"
            class="concolle-form__input"
            required
          />
        </div>

        <div class="concolle-form__group">
          <label for="url" class="concolle-form__label">
            <span class="concolle-form__label-optional">任意</span> URL
          </label>
          <input type="url" id="url" name="url" placeholder="例）https://arubai.com" class="concolle-form__input" />
        </div>

        <div class="concolle-form__group">
          <label for="message" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            ご相談内容
          </label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="ご質問やご相談内容を入力してください"
            class="concolle-form__input"
            required
          ></textarea>
        </div>

        <div class="concolle-form__submit">
          <button type="submit" class="concolle-form__button">
            <p class="concolle-form__button-text">この内容で送信する</p>
            <span><img src="./images/arrow-right.svg" alt="" /></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
