<div class="message">
  <div class="message__inner inner">
    <p class="message__top">
      掲載件数・ユーザーランキングNo.1の<br />
      “コンコレ”に掲載すれば
    </p>
    <div class="message__bottom">
      <div class="message__left">
        <img src="../assets/images/common/text-message-left.png" alt="集客効果が" />
      </div>
      <div class="message__gradation">
        <picture>
          <source media="(min: 768px)" srcset="../assets/images/common/text-message-right-sp.png" />
          <img src="../assets/images/common/text-message-right.png" alt="倍増！" />
        </picture>
        <div class="message__arrow-icon">
          <img src="../assets/images/common/icon-arrow-up.svg" alt="上向きの矢印のアイコン" />
        </div>
      </div>
    </div>
  </div>
</div>
