<div class="mission">
  <div class="mission__inner">
    <div class="mission__title">
      <div class="mission__english">
        <div class="mission__english-icon">
          <img src="../assets/images/common/icon-frag.svg" alt="旗のアイコン" />
        </div>
        <p class="mission__english-text">CONCOLLE’s MISSION</p>
      </div>
      <h2 class="mission__heading">
        <div class="mission__title-gradation">
          <img src="../assets/images/common/text-mission.png" alt="全国のコンカフェを支援すること" />
        </div>
        <div class="mission__title-bottom">コンコレの<span class="mission__heading-white">使命</span>です</div>
      </h2>
    </div>
    <div class="mission__box">
      <ul class="mission__box-list">
        <div class="mission__box-icon">
          <img src="../assets/images/common/icon-baloon.svg" alt="ここがオススメ" />
        </div>
        <li class="mission__box-item">
          <div class="mission__box-item-icon">
            <img src="../assets/images/common/icon-crown.svg" alt="王冠のアイコン" />
          </div>
          <div class="mission__box-item-wrapper">
            <p class="mission__box-text">
              自分でいつでも<br /><span class="mission__box-text-bold">自由に更新</span>できる
            </p>
          </div>
        </li>
        <li class="mission__box-item">
          <div class="mission__box-item-icon">
            <img src="../assets/images/common/icon-crown.svg" alt="王冠のアイコン" />
          </div>
          <div class="mission__box-item-wrapper">
            <p class="mission__box-text">
              写真やブログの機能を<br /><span class="mission__box-text-bold">使いたい時に</span>使える
            </p>
          </div>
        </li>
        <li class="mission__box-item">
          <div class="mission__box-item-icon">
            <img src="../assets/images/common/icon-crown.svg" alt="王冠のアイコン" />
          </div>
          <div class="mission__box-item-wrapper">
            <p class="mission__box-text">
              <span class="mission__box-text-bold">０円のまま</span>で<br />全機能を使える。
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
