<div class="mv-title">
  <div class="mv-title__ribbon">
    <img src="../assets/images/common/text-ribbon.svg" alt="全国のコンカフェを全力おうえん！" />
  </div>
  <h1 class="mv-title__heading">
    <div class="mv-title__top">
      <img src="../assets/images/common/text-mv-top.png" alt="完全無料でできるから" />
    </div>
    <div class="mv-title__bottom">
      <img src="../assets/images/common/text-mv-bottom.png" alt="、全国のコンカフェさまに、選ばれています！" />
    </div>
  </h1>
</div>
