<div class="mv-title">
  <div class="mv-title__icon-mac">
    <img src="assets/images/common/icon-mac.png" alt="macのアイコン" />
  </div>
  <div class="mv-title__icon-phone">
    <img src="assets/images/common/icon-phone.png" alt="phoneのアイコン" />
  </div>
  <div class="mv-title__ribbon">
    <img src="assets/images/common/text-ribbon.svg" alt="全国のコンカフェを全力支援！" />
  </div>
  <h1 class="mv-title__heading">
    <div class="mv-title__top">
      <picture>
        <source srcset="assets/images/common/text-mv-top-sp.png" media="(max-width: 768px)" />
        <img src="assets/images/common/text-mv-top.png" alt="完全無料で掲載できるから" />
      </picture>
    </div>
    <div class="mv-title__bottom">
      <img src="assets/images/common/text-mv-bottom.png" alt="全国のコンカフェさまに、選ばれています！" />
    </div>
  </h1>
  <div class="mv-title__crowns">
    <div class="mv-title__crown">
      <img src="assets/images/common/icon-crown-1.svg" alt="掲載料金0円〜" />
    </div>
    <div class="mv-title__crown">
      <img src="assets/images/common/icon-crown-2.svg" alt="完全無料で全機能が使える" />
    </div>
    <div class="mv-title__crown">
      <img src="assets/images/common/icon-crown-3.svg" alt="ユーザーランキング第1位" />
    </div>
  </div>
</div>
