<%
<!-- prettier-ignore -->
let text1 = `ネットから<br />
集客したいけど、<br />
<span
  >ホームページを<br />
  作るのは大変</span
>`
<!-- prettier-ignore -->
let text2 = `<span>新規のお客さん</span>が<br />なかなか来ない`
<!-- prettier-ignore -->
let text3 = `<span>お店の知名度</span>を<br />もっと高めたい`
<!-- prettier-ignore -->
let text4 = `他のサイトは<br /><span>掲載費用が高い</span>`
<!-- prettier-ignore -->
let text5 = `SNSだけだと<br /><span>集客効果が<br class="md-show" />足りない</span>`
<!-- prettier-ignore -->

const items = [
 { text: text1}, // 1 
 { text: text2}, // 2 
 { text: text3}, // 3 
 { text: text4}, // 4 
 { text: text5}, // 5 
 ]; 
 %>

<div class="worries">
  <div class="worries__inner inner">
    <ul class="worries__content">
      <div class="worries__person">
        <img src="../assets/images/common/icon-person.png" alt="人のアイコン" />
      </div>
      <% items.forEach(function(item) { %>
      <li class="worries__item">
        <div class="worries__item-wrapper">
          <p class="worries__text"><%- item.text %></p>
        </div>
      </li>
      <% }); %>
    </ul>
    <div class="worries__message">
      <picture>
        <source media="(min-width: 768px)" srcset="../assets/images/common/text-worry.png" />
        <img
          src="../assets/images/common/text-worry-sp.png"
          alt="こんなお悩みがあっても、コンコレに掲載すればぜんぶ解決！"
        />
      </picture>
    </div>
  </div>
</div>
