<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__left">
      <div class="footer__name-wrapper">
        <p class="footer__name">全国コンカフェ情報サイト<span>「コンコレ」</span></p>
      </div>
      <div class="footer__logo-group">
        <div class="footer__logo">
          <img src="../assets/images/common/icon-logo.svg" alt="コンコレのロゴ" />
        </div>
      </div>
    </a>
    <ul class="footer__menu">
      <li class="footer__menu-item"><a href="#">掲載について</a></li>
      <li class="footer__menu-item"><a href="#">運営会社</a></li>
      <li class="footer__menu-item"><a href="../terms-and-policy/terms.html">利用規約</a></li>
      <li class="footer__menu-item"><a href="../terms-and-policy/privacy.html">プライバシーポリシー</a></li>
    </ul>
  </div>
  <p class="footer__copyright">©2024 CONCOLLE</p>
</footer>
