<header class="header js-header">
  <div class="header__container">
    <ul class="header__menu">
      <li class="header__menu-home">
        <a href="#"> ホーム </a>
      </li>
      <li class="header__menu-item"><a href="#">お店を探す</a></li>
      <li class="header__menu-item"><a href="#">キャストを探す</a></li>
      <li class="header__menu-item"><a href="../ranking/ranking-list.html">お店ランキング</a></li>
      <li class="header__menu-item"><a href="../ranking/ranking-list.html">キャストランキング</a></li>
      <li class="header__menu-item"><a href="../blog/blog-list.html">ブログ</a></li>
    </ul>
  </div>
</header>
