<header class="header">
  <div class="header__container">
    <div class="header__left">
      <p class="header__text">全国コンカフェ情報<span>「コンコレ」</span></p>
      <div class="header__logo">
        <img src="../assets/images/common/icon-logo.svg" alt="コンコレのロゴ" />
      </div>
    </div>
    <div class="header__right">
      <button class="header__button">無料掲載のお申込み</button>
    </div>
  </div>
</header>
