<header class="header">
  <div class="header__container">
    <a href="#" class="header__left md-none">
      <p class="header__text">全国コンカフェ情報サイト<span>「コンコレ」</span></p>
      <div class="header__logo">
        <img src="assets/images/common/icon-logo.svg" alt="コンコレのロゴ" />
      </div>
    </a>
    <div class="header__right">
      <a href="#form" class="header__button js-btn--header">無料掲載のお申込み</a>
    </div>
  </div>
</header>
