@use 'global' as *;

.charm {
  max-width: 1080px;
  margin: 0 auto;
  padding: rem(104) rem(40);
  @include mq('md') {
    max-width: 600px;
    padding: rem(40) rem(7.5);
  }
}

.charm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charm__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(8);
}

.charm__text {
  color: white;
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-align: center;
  @include mq('md') {
    font-size: rem(16);
  }
}

.charm__title-main {
  max-width: 289px;
  width: 100%;
  position: relative;
  @include mq('md') {
    max-width: 189px;
  }
}
.charm__title-main img {
  aspect-ratio: 289 / 96;
  width: 100%;
  object-fit: contain;
  @include mq('md') {
    aspect-ratio: 189 / 76;
  }
}

.charm__title-star {
  position: absolute;
}

.charm__title-star--right {
  width: 64px;
  height: 71px;
  position: absolute;
  top: 22px;
  right: -81px;
  @include mq('md') {
    width: 43.68px;
    height: 48.46px;
    top: 17px;
    right: -49px;
  }
}

.charm__title-star--right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.charm__title-star--left {
  width: 57px;
  height: 60px;
  position: absolute;
  top: 4cap;
  left: -73px;
  @include mq('md') {
    width: 38.9px;
    height: 40.95px;
    top: 9px;
    left: -49px;
  }
}
.charm__title-star--left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.charm__items {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  gap: rem(69);
  @include mq('md') {
    padding: 0 rem(20);
    margin-top: rem(24);
    gap: rem(30);
  }
}

.charm__item {
  position: relative;
  border: rem(1) solid $black;
  border-radius: rem(8);
  padding: rem(40);
  background-color: #fff4f4;
  box-shadow: rem(4) rem(4) rem(0) rem(0) $black;
  @include mq('md') {
    padding: rem(24) rem(16);
    padding-bottom: rem(21.25);
  }
}

.charm__item-icon {
  position: absolute;
  top: rem(-60);
  left: rem(-42);
  width: 100%;
  max-width: 122px;
  @include mq('md') {
    max-width: 92px;
    top: rem(-22);
    left: rem(-22);
  }
}

.charm__item-icon img {
  aspect-ratio: 122 / 108;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 92 / 82;
  }
}

.charm__item-wrapper {
  display: flex;
  align-items: flex-start;
  gap: rem(40);
  @include mq('md') {
    flex-direction: column;
    gap: rem(16);
    align-items: center;
  }
}

.charm__item-img {
  max-width: 280px;
  width: 100%;
  @include mq('md') {
    max-width: 210px;
  }
}
.charm__item-img img {
  aspect-ratio: 280 / 180;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 210 / 135;
  }
}

.charm-item__content {
  flex: 1;
}

.charm__item-title {
  color: $primary-90;
  font-size: rem(32);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: left;
  @include mq('md') {
    font-size: rem(22);
    text-align: center;
  }
}

.charm__item-text {
  margin-top: rem(16);
  font-size: rem(20);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: left;
  @include mq('md') {
    font-size: rem(14);
    margin-top: rem(8);
  }
}

// 二つ目の要素

.charm__item:nth-child(2) .charm__item-wrapper {
  flex-direction: row-reverse;
  @include mq('md') {
    flex-direction: column;
  }
}

.charm__item:nth-child(2) {
  padding-right: rem(71);
  @include mq('md') {
    padding-right: rem(16);
  }
}

.charm__item:nth-child(2) .charm__item-icon {
  left: auto;
  right: rem(-30);
  @include mq('md') {
    right: rem(-20);
  }
}
