@use 'global' as *;

.concolle {
}

.concolle__wrapper {
}

.concolle__mv {
  background-image: url('../images/common/fv-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.concolle__mv-inner {
}

.concolle__mv-buttons {
  margin-top: rem(38);
  display: flex;
  justify-content: center;
  gap: rem(32);
}

.concolle__mv-button {
  max-width: 380px;
  width: 100%;
}

.concolle__mv-header {
}

.concolle__messge {
}

.concolle__worries {
}

.concolle__charm {
}

.concolle__flow {
}

.concolle__question {
}

.concolle__form {
}
