@use 'global' as *;

.concolle__mv {
  background-image: url('../images/common/fv-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fffbf2;
  background-position: bottom;
}

.concolle__mv-inner {
  padding-bottom: rem(16);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  @include mq('md') {
    max-width: 600px;
    width: 100%;
    padding-right: 8.5px;
    padding-left: 8.5px;
  }
}

.concolle__mv-title {
  @include mq('md') {
    margin-top: rem(24);
  }
}

.concolle__mv-buttons {
  margin-top: rem(37);
  display: flex;
  justify-content: center;
  gap: rem(32);
  @include mq('md') {
    flex-direction: column;
    margin-top: rem(19);
    gap: rem(24);
    padding: 0 rem(19);
  }
}

.concolle__mv-button {
  max-width: 380px;
  width: 100%;
}

.concolle__worries {
  background-image: url(../images/common/bg-worry.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: rem(1114);
}

.concolle__charm {
  background-color: #fffbf2;
  background-image: url(../images/common/bg-charm.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.concolle__flow {
  background-color: #fffbf2;
  background-image: url(../images/common/bg-flow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.concolle__faq {
  background-color: #f090a9;
  background-image: url(../images/common/bg-question.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.concolle__form {
  background-image: url(../images/common/bg-form.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
