@use 'global' as *;

.concolle {
}

.concolle__wrapper {
}

.concolle__mv {
}

.concolle__mv-inner {
  background-image: url('../images/common/fv-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.concolle__mv-header {
}

.concolle__messge {
}

.concolle__worries {
}

.concolle__charm {
}

.concolle__flow {
}

.concolle__question {
}

.concolle__form {
}
