@use 'global' as *;

.flow__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: rem(104) 0;
  @include mq('md') {
    max-width: 600px;
    padding: rem(40) rem(7.5);
  }
}

.flow__text {
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  @include mq('md') {
    font-size: rem(16);
  }
}

.flow__title {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  @include mq('md') {
    max-width: 286px;
  }
}
.flow__title img {
  aspect-ratio: 480 / 90;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 286 / 51;
  }
}

.flow__title-text-wrapper {
  position: relative;
}

.flow__title-text {
  color: white;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  font-family: Zen Maru Gothic;
  font-size: rem(56);
  font-weight: 700;
  line-height: rem(89.6);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: rem(-1) rem(-1) 0 #eb537b, rem(1) rem(-1) 0 #eb537b, rem(-1) rem(1) 0 #eb537b, rem(1) rem(1) 0 #eb537b; /* 縁取り */
}

.flow__title-shadow {
  color: white;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

.flow__step {
  margin-top: rem(108);
  padding: rem(80);
  background-color: white;
  border-radius: rem(16);
  position: relative;
  @include mq('md') {
    margin-top: rem(56);
    padding: rem(32) rem(16) rem(24);
  }
}

.flow__step-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: rem(-78);
  max-width: 170px;
  width: 100%;
  @include mq('md') {
    max-width: 100px;
  }
}

.flow__step-icon img {
  aspect-ratio: 170 / 128;
  width: 100%;
  object-fit: contain;
  @include mq('md') {
    aspect-ratio: 100 / 75.29;
  }
}

.flow__step-item {
  display: flex;
  align-items: flex-start;
  gap: rem(40);
  @include mq('md') {
    gap: rem(8);
  }
}

.flow__step-left {
  max-width: 174px;
  width: 100%;
  @include mq('md') {
    max-width: 65px;
  }
}
.flow__step-left img {
  object-fit: cover;
  aspect-ratio: 174 / 251;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 65 / 170;
  }
}

.flow__step-right {
  padding-top: rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq('md') {
    gap: rem(8);
    padding-top: rem(4);
  }
}

.flow__step-tag {
  width: rem(157.64);
  height: rem(37);
  @include mq('md') {
    width: rem(118.23);
    height: rem(27.75);
  }
}

.flow__step-title {
  color: $primary-90;
  font-size: rem(28);
  font-weight: 600;
  line-height: 1.6;
  text-align: left;
  @include mq('md') {
    font-size: rem(16);
  }
}

.flow__step-description {
  font-size: rem(20);
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  @include mq('md') {
    font-size: rem(13);
  }
}

.flow__step-description a {
  color: $primary-90;
  border-bottom: rem(1) solid $primary-90;
  padding-bottom: rem(2);
}

//　ステップ１のスタイル
//　ステップ2のスタイル
.flow__step-item:nth-child(2) .flow__step-left {
  max-width: 174px;
  @include mq('md') {
    max-width: 65px;
  }
}

.flow__step-item:nth-child(2) .flow__step-left img {
  object-fit: contain;
  aspect-ratio: 174 / 251;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 65 / 170;
  }
}

.flow__step-item:nth-child(3) .flow__step-left {
  max-width: 174px;
  @include mq('md') {
    max-width: 65px;
  }
}

.flow__step-item:nth-child(3) .flow__step-left img {
  object-fit: cover;
  aspect-ratio: 174 / 263;
  width: 100%;
}

.flow__step-item:nth-child(3) .flow__step-right {
  padding-top: rem(8);
  @include mq('md') {
    padding-top: 4;
  }
}

.flow__step-item:nth-child(4) .flow__step-left {
  max-width: 174px;
  @include mq('md') {
    max-width: 65px;
  }
}

.flow__step-item:nth-child(4) .flow__step-left img {
  object-fit: cover;
  aspect-ratio: 174 / 191;
  width: 100%;
}

.flow__step-item:nth-child(4) .flow__step-right {
  padding-top: rem(8);
  @include mq('md') {
    padding-top: 4;
  }
}
