@use 'global' as *;

.concolle-form__inner {
  padding: 64px 0 104px;
}
input::placeholder {
  color: #8d9999;
}

.concolle-form__wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.concolle-form__form {
  display: flex;
  flex-direction: column;
}

.concolle-form__group {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.concolle-form__label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: left;
  margin-right: 8px;
}

.concolle-form__label-required {
  display: inline-block;
  color: white;
  background-color: #eb537b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1x;
  letter-spacing: 0.03em;
  padding: 1px 8px;
  border-radius: 3px;
}

.concolle-form__label-required--optional {
  background-color: #6c6c6c;
}

.concolle-form__input {
  padding: 12px;
  border: 1px solid $black;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 8px;
}

.concolle-form__input:focus {
  outline: none;
  border-color: #00acc1;
}

.concolle-form__submit {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.concolle-form__note {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8d9999;
  margin-top: 8px;
}

.concolle-form__radio-group {
  margin-top: 8px;
  display: flex;
  gap: 16px;
}

.concolle-form__radio-item {
  width: 50%;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 8px;
  color: #6c6c6c;
  border: 1px solid #cccccc;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.concolle-form__radio-input {
  width: 19px;
  height: 19px;
  margin: 0;
  accent-color: #0c8d8d;
}

.concolle-form__radio-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: left;
}

.concolle-form__radio-item.checked {
  background-color: #edffff;
  border: 1px solid #0c8d8d;
  color: $black;
  border-radius: 5px;
}

/* 未選択時の状態をカスタマイズ */
.concolle-form__radio-input:not(:checked) {
  accent-color: #b0b0b0; /* グレーを緑に変更 */
}
