@use 'global' as *;

input::placeholder {
  color: #6c6c6c;
}

.concolle-form__inner {
  padding: rem(64) 0 rem(104);
  @include mq('md') {
    padding: rem(40) rem(7.5) rem(40);
    max-width: 600px;
    margin: 0 auto;
  }
}

.concolle-form__wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.concolle-form__form {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  @include mq('md') {
    margin-top: rem(24);
  }
}

.concolle-form__title {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  @include mq('spx') {
    max-width: 260px;
  }
}

.concolle-form__title img {
  aspect-ratio: 800 / 231;
  width: 100%;
  object-fit: cover;
  @include mq('spx') {
    aspect-ratio: 260 / 191.75;
  }
}

.concolle-form__message {
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: left;
  @include mq('md') {
    margin-top: rem(24);
    font-size: rem(14);
  }
}

.concolle-form__group:not(:first-child) {
  display: flex;
  flex-direction: column;
  margin-top: rem(24);
}

.concolle-form__label {
  display: flex;
  gap: rem(8);
  align-items: center;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: left;
  margin-right: rem(8);
}

.concolle-form__label-required {
  display: inline-block;
  color: white;
  background-color: #eb537b;
  font-size: rem(12);
  font-weight: 700;
  line-height: 1x;
  letter-spacing: 0.03em;
  padding: rem(1) rem(8);
  border-radius: rem(3);
}

.concolle-form__label-required--optional {
  background-color: #6c6c6c;
}

.concolle-form__input {
  background-color: white;
  padding: rem(11) rem(12);
  border: rem(1) solid $black;
  border-radius: rem(4);
  font-size: rem(16);
  line-height: 1.6;
  margin-top: rem(8);
  letter-spacing: 0.04em;
}

.concolle-form__input:focus {
  outline: none;
  border-color: #00acc1;
}

.concolle-form__submit {
  display: flex;
  justify-content: center;
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(24);
  }
}

.concolle-form__note {
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(19.2);
  letter-spacing: 0.04em;
  text-align: left;
  color: #6c6c6c;
  margin-top: rem(8);
  @include mq('md') {
    letter-spacing: 0.04em;
  }
}

.concolle-form__radio-group {
  margin-top: rem(8);
  display: flex;
  gap: rem(16);
  @include mq('md') {
    flex-direction: column;
    gap: rem(8);
  }
}

.concolle-form__radio-item {
  cursor: pointer !important;
  width: 50%;
  display: flex;
  gap: rem(12);
  align-items: center;
  padding: rem(11) rem(8);
  color: #6c6c6c;
  border: rem(1) solid #cccccc;
  background-color: #f4f4f4;
  border-radius: rem(5);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  @include mq('md') {
    width: 100%;
  }
}

.concolle-form__radio-input {
  width: rem(19);
  height: rem(19);
  margin: 0;
  accent-color: #0c8d8d;
}

.concolle-form__radio-label {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: left;
}

.concolle-form__radio-item.checked {
  background-color: #edffff;
  border: rem(1) solid #0c8d8d;
  color: $black;
  border-radius: rem(5);
}

/* 未選択時の状態をカスタマイズ */
.concolle-form__radio-input:not(:checked) {
  accent-color: #b0b0b0; /* グレーを緑に変更 */
}

.concolle-form__input--textarea {
  padding: rem(15) rem(12);
}

.concolle-form__group--name-kana .concolle-form__note {
  @include mq('md') {
    letter-spacing: 0;
  }
}
