@use 'global' as *;

.mission {
  background-image: url('../images/common/bg-mission.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fffbf2;
  background-position: top;
}

.mission__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: rem(119);
  padding-bottom: rem(96);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq('md') {
    max-width: 600px;
    padding-right: rem(7.5);
    padding-left: rem(7.5);
  }
}

.mission__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission__title-bottom {
  margin-top: rem(17);
  @include mq('md') {
    margin-top: rem(11);
  }
}

.mission__english {
  margin: 0 auto;
}

.mission__english {
}

.mission__english-icon {
  margin: 0 auto;
  max-width: rem(32.97);
  width: 100%;
}
.mission__english-icon img {
  aspect-ratio: 32.97/39.09;
  width: 100%;
}

.mission__english-text {
  color: #eb537b;
  font-family: Quicksand;
  font-size: rem(22);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 1px solid #eb537b;
  @include mq('md') {
    font-size: rem(16);
  }
}

.mission__heading {
  margin-top: rem(44);
  color: #eb537b;
  font-family: Zen Maru Gothic;
  font-size: rem(44);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  @include mq('md') {
    font-size: rem(22);
    margin-top: rem(20);
  }
}

.mission__heading-white {
  color: #fff;
  font-family: 'Zen Maru Gothic';
  font-size: rem(64);
  font-weight: 800 !important;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: rem(3) rem(3) rem(0) #eb537b;
  -webkit-text-stroke: rem(1.5) #eb537b;
  @include mq('md') {
    font-size: rem(32);
    text-shadow: rem(2) rem(2) rem(0) #eb537b;
  }
}

.mission__title-gradation {
  text-align: center;
  font-family: Zen Maru Gothic;
  font-size: rem(64);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  background: linear-gradient(93.23deg, #ffd8e8 0%, #ffcaba 50%, #ffef9b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: rem(2) #ff408c;
}

.mission__title-gradation img {
  @include mq('md') {
    width: rem(332);
  }
}

.mission__box {
  margin-top: rem(104);
  background-image: url('../images/common/bg-box.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: rem(348);
  border: rem(1) solid $black;
  border-radius: rem(16);
  position: relative;
  @include mq('md') {
    background-image: url('../images/common/bg-box-sp.svg');
  }
}

.mission__box-list {
  display: flex;
  gap: rem(48);
  justify-content: center;
  padding: rem(72) rem(32) rem(56);
  position: relative;
  @include mq('md') {
    padding: rem(32) rem(30) rem(24);
  }
}

.mission__box-icon {
  max-width: 254px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: rem(-121);
  @include mq('md') {
    max-width: rem(130);
  }
}

.mission__box-icon img {
  aspect-ratio: 254 / 97;
  width: 100%;
  object-fit: contain;
  @include mq('md') {
    aspect-ratio: 130 / 48;
  }
}

.mission__box-item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 280px;
  width: 100%;
  height: rem(220);
  @include mq('md') {
    height: rem(140);
    max-width: 137px;
  }
}
.mission__box-item:nth-child(3) {
  max-width: 320px;
  @include mq('md') {
    max-width: 166px;
  }
}
.mission__box-item:nth-child(4) {
  max-width: 226px;
  @include mq('md') {
    max-width: 136px;
  }
}

.mission__box-item-icon {
  max-width: 202px;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.mission__box-item-icon img {
  aspect-ratio: 202 / 206;
  width: 100%;
}

.mission__box-item-wrapper {
  width: fit-content;
  position: relative;
  z-index: 2;
}

.mission__box-item:nth-child(2) .mission__box-item-wrapper {
  max-width: 280px;
  width: 100%;
  top: rem(-5);
}

.mission__box-text {
  font-size: rem(20);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
  text-align: center;
  @include mq('md') {
    font-size: rem(16);
  }
}

.mission__box-text-bold {
  font-family: Zen Maru Gothic;
  font-size: rem(40);
  font-weight: 800;
  line-height: 1;
  text-align: left;
  -webkit-text-stroke: rem(2.5) #eb537b;
  background: linear-gradient(93.23deg, #fff9ec 0%, #ffe9b8 50.7%, #fff9ea 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* インライン要素の場合は必要 */
  @include mq('md') {
    font-size: rem(24);
    -webkit-text-stroke: rem(1) #eb537b;
  }
}
