@use 'global' as *;

.mv-title {
}

.mv-title__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mv-title__top {
  max-width: 815px;
  width: 100%;
}
.mv-title__top img {
  aspect-ratio: 815 / 122;
  width: 100%;
}

.mv-title__bottom {
  max-width: 981px;
  width: 100%;
}
.mv-title__bottom img {
  aspect-ratio: 981 / 226;
  width: 100%;
}
